@import "./variables.scss";

.header {
  z-index: 1;
}

@media screen and (min-width: #{$medium-screen}) {
  .header {
    p {
      margin-left: 20rem;
    }
    .icon {
      display: none;
    }
  }
}
