@import "variables";

.layout {
  display: flex;
  min-height: 100vh;
  grid-template-columns: 1fr;
  flex-direction: column;

  .layout-sidebar {
    z-index: 2;
    height: 38px;
    position: sticky;
    top: 0;
  }
}
.sidebar-hidden {
  display: none;
}

.mob-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: #{$medium-screen}) {
  .layout {
    flex-direction: row;
    grid-template-columns: 1fr;
  }

  .layout-sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .sidebar-hidden {
    display: block;
  }
  .mob-nav {
    display: none;
  }
}

.main-content {
  flex-grow: 1;
  background-color: #fff;

  @media screen and (min-width: #{$medium-screen}) {
    .content {
      margin: 20px auto;
      max-width: 48rem;
    }
  }
}
