@import "index";

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  min-height: 100vh;

  @media screen and (max-width: #{$small-screen}) {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  background-color: #f0f0f0;
  padding: 20px;

  position: sticky;
  top: 0;

  @media screen and (max-width: #{$small-screen}) {
    display: none;
  }
}

.main-content {
  padding: 20px;
}
