@import "index";

.layout {
  display: flex;
  min-height: 100vh;

  @media screen and (max-width: #{$small-screen}) {
    grid-template-columns: 1fr;
  }
  .layout-sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?q=80&w=3355&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Adjust the path to your image */
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
  }
}

.sidebar {
  @media screen and (max-width: #{$small-screen}) {
    display: none;
  }
}

.main-content {
  background-color: #fff;
  width: 100%;
  .content {
    margin: 20px auto;
    max-width: 48rem;
  }
}
