@import "utils";
@import "variables";

.posts-listing {
  width: 100vw;
  min-width: 100vw;
  height: calc(100vh - 39px);
  position: sticky;
  top: 39px;
  overflow-y: auto;

  h3 {
    margin-left: 0.5rem;
  }
  .list {
    margin: 0 12px;
    padding: 0;
    list-style: none;
  }
  .post-item {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    border-radius: 6px;
    &:hover {
      background-color: hsl(0deg 2.43% 82.6% / 58%);
    }
    .post-date {
      color: #05050585;
    }
    &.active {
      background-color: #838383b0;
      color: #fff;
      .post-date {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: #{$medium-screen}) {
  .posts-listing {
    width: 20rem;
    min-width: 20rem;
  }
}
