@import "variables";

.post-details-wrapper {
  display: flex;
  flex-direction: column;
  .posts-listing {
    display: none;
  }
}

@media screen and (min-width: #{$medium-screen}) {
  .post-details-wrapper {
    flex-direction: row;
    .posts-listing {
      display: block;
    }
  }
}

.post-content {
  max-width: 800px;
  margin: 0.75rem;
  .post-image {
    margin-bottom: 2rem;
    max-height: 20rem;
  }
  .rich-text {
    padding: 0.75rem;
  }
  p {
    font-weight: 300 !important;
    line-height: 1.5;
  }
}

@media screen and (min-width: #{$medium-screen}) {
  .post-content {
    margin: 0.75rem auto;
  }
}
