.posts-listing {
  width: 20rem;
  .listing-header {
    position: sticky;
    background: rgba(50, 50, 50, 0);
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px;
    min-height: 48px;
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid #ededed;
  }
  h3 {
    margin-left: 0.5rem;
  }
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .post-item {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    border-radius: 6px;
    &:hover {
      background-color: hsl(0deg 2.43% 82.6% / 58%);
    }
    .post-date {
      color: #05050585;
    }
    &.active {
      background-color: #838383b0;
      color: #fff;
      .post-date {
        color: #fff;
      }
    }
  }
}
