.sidebar {
  padding: 20px;

  position: sticky;
  top: 0;

  width: 14rem;
  height: 100%;

  background-color: hsla(0, 6%, 93%, 0.659);
  -webkit-backdrop-filter: blur(15px) saturate(86%);
  backdrop-filter: blur(15px) saturate(86%);
  z-index: 2;
  .header {
    margin-bottom: 16px;
    h2 {
      margin: 0;
      font-size: 20px;
    }
    p {
      font-weight: 300;
      font-size: 14px;
      margin: 4px 0;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    height: 28px;
    padding: 0.225rem 0.5rem;
    border-radius: 6px;
    margin: 4px 0;
    display: flex;
    align-items: center;
    &:hover {
      background-color: hsl(0deg 2.43% 82.6% / 58%);
    }
    a {
      width: 100%;
    }
    &.active {
      background-color: #838383b0;
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
