$inter-regular: "Inter Regular", sans-serif;
$inter-medium: "Inter Medium", sans-serif;
$inter-extra-light: "Inter Extra Light", sans-serif;
$inter-thin: "Inter Thin", sans-serif;
$newsreader-extra-light: "Newsreader Extra Light", sans-serif;
$newsreader-extra-light-italic: "Newsreader Extra Light Italic", sans-serif;
$newsreader-light: "Newsreader Light", sans-serif;
$newsreader-light-italic: "Newsreader Light Italic", sans-serif;
$newsreader-italic: "Newsreader Italic", sans-serif;
$newsreader-regular: "Newsreader Regular", sans-serif;
$newsreader-medium: "Newsreader Medium", sans-serif;
$newsreader-medium-italic: "Newsreader Medium Italic", sans-serif;
$newsreader-semi-bold: "Newsreader Semi Bold", sans-serif;
$newsreader-semi-bold-italic: "Newsreader Semi Bold Italic", sans-serif;

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
$x-large-screen: 1600px;

$border-color: #f6f6f6;
$background-color: rgba(225, 225, 224, 0.2);
$white: #fff;
$background-item-active: rgba(248, 248, 248, 0.17);

$pd-xs: 0.75rem;
$pd-s: 0.875rem;
$pd-m: 1rem;
