---
import Album from './../components/Album.astro';
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const allAlbums = await getCollection("albums");
---


<Layout title="Albums" pageTitle="My Album Collection" widthSize="max-w-screen-sm">
  <section>
    <div class="flex flex-row flex-wrap justify-center sm:justify-between mb-6">
      {
        allAlbums.slice(0,6).map((album) => (
          <div class="sm:w-auto px-2 mb-4 sm:mb-0">
            <Album {...album.data} />
          </div>
        ))
      }
    </div>
    <div>
      {
      allAlbums.slice(3).map((album) => (
        <li class="mb-4 flex justify-between items-center text-sm border-b-2 border-gray-800 pb-2 transition duration-300 ease-in-out hover:text-neutral-400">
          <p>{album.data.title}</p>
          <span class="font-mono capitalize">{album.data.artist} ~ {new Date(`${album.data.releaseDate}`).getFullYear()}</span>
        </li>
      ))}
    </div>
  </section>
</Layout>