---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
---

<Layout title="Weliton's blog" pageTitle="Hey! It's Weliton" widthSize="max-w-screen-sm">
  <section>
    <p class="text-xs mt-2">
      This is my place to share thoughts, stuff I like to do, photography
      and technology
    </p>

    <div class="mt-8">
      <p class="font-bold text-sm mb-2 text-neutral-600">Thoughts</p>
      <ul class="list-none p-0" id="list">
        {
          allPosts.map((post) => (
            <li class="mb-4 flex justify-between items-center text-sm border-b-2 border-gray-800 pb-2 transition duration-300 ease-in-out hover:text-neutral-400">
              <a href={`/posts/${post.slug}/`} >{post.data.title}</a>
              <span class="font-mono capitalize">{post.data.category} ~ {new Date(`${post.data.pubDate}`).getFullYear()}</span>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>