---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Movie from './../components/Movie.astro';

const allMovies = await getCollection("movies");
const featuredMovies = allMovies.filter(movie => movie.data.featured);
const nonFeaturedMovies = allMovies.filter(movie => !movie.data.featured);

---

<Layout title="Movies" pageTitle="My Movie Collection" widthSize="max-w-screen-sm">
  <section>
    <div class="flex flex-row flex-wrap justify-center sm:justify-between mb-6">
      {
        featuredMovies.slice(0,6).map((movie) => (
          <div class="sm:w-auto mb-4 sm:mb-0">
            <Movie {...movie.data} />
          </div>
        ))
      }
    </div>
    <ul class="list-none p-0">
      {nonFeaturedMovies.map((movie) => (
        <li class="mb-4 border-b-2 border-gray-800 pb-2 transition duration-300 ease-in-out hover:text-neutral-400">
          <a href={movie.data.movieUrl} class="flex justify-between items-center text-sm no-underline text-inherit">
            <p>{movie.data.title}</p>
            <span class="font-mono capitalize">{movie.data.director} ~ {new Date(`${movie.data.releaseDate}`).getFullYear()}</span>
          </a>
        </li>
      ))}
    </ul>
  </section>
</Layout>