---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-p:text-slate-400 prose-img:rounded-xl
  prose-headings:underline
  prose-h3:font-bold prose-h3:text-slate-50">
  <slot />
</div>