---
interface Props {
  title: string;
  company: string;
  location: string;
  startDate: Date;
  endDate?: Date;
}

const { title, company, location, startDate, endDate } = Astro.props;
---

<li class="mb-4 flex justify-between items-center text-sm border-b-2 border-gray-800 pb-2 transition duration-300 ease-in-out hover:text-neutral-400">
  <div>
    <h2 class="text-lg font-semibold">{title} - {company}</h2>
    <p class="text-sm text-gray-500">{location}</p>
  </div>
  <span class="font-mono">
    {startDate.getFullYear()} - {endDate ? endDate.getFullYear() : 'Present'}
  </span>
</li>
